.list-item-shape {
    width: 40px;
    text-align: center;
}
.list-item-shape-display {
  display: flex;
    justify-content: center;
    align-items: center;
}


#div_full_dialog_Cell{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
  }

#div_right_dialog {
    width: 49%;
    overflow-y: scroll;
    height: 100%;
}
#div_left_dialog {
    width: 49%;
    overflow-y: scroll;
    height: 100%;

}
.divider3 {
  height: 100%;
  border-left: solid lightgray 5px;
  align-items: center
}