/* all pages */
* {
  margin: 0;
  padding: 0;
  font-family: 'Heebo', cursive;
}
html {
  height: 100%;
}
body {
  background-color: ghostwhite;
  height: 100%;
  font-family: 'Heebo', cursive;

}


#table-style{
  table-layout:fixed;
}

#full-div { 
  position: fixed;

  /* display: flex;
  flex-direction: row; */
}
#tablepadding{
   padding-bottom: 0 !important;
  /* padding-top: "2px"; */ 
  overflow:visible;
}
#tablecelllheader{
  /* padding-left: 5px !important;
  padding-right: 5px !important;
  padding-top:auto;
  padding-right: auto;
  overflow:hidden; 
  display: inline-block; */
  padding-left: 0 !important;
  padding-right: 0 !important;
  overflow: visible;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-wrap: break-word;
}
#div-status{
  height: 20px;
}
#table-status{
  padding-top: 0 !important;
}
#button-regret {
  /* height: 10px; */
  width: 52px;
  /* width: 30%; */
  /* margin-top: 0; */
  /* padding-top: auto;
  padding-bottom: auto; */
  margin-bottom: auto;
  margin-right: 0;
  /* overflow: hidden; */
  display: inline-block;
  float: left;
}
#icon-status-answer{
  /* margin-right: 17px; */
  width: 90px;
  margin-bottom: auto;
  display: inline-block;
  float: left;

}
#alltablepadding3{
  padding-bottom: 0 !important;
  padding-top: 0 !important;
 /* padding-top: "2px"; */ 
}
#alltablepadding{
  padding: 0 !important;
  padding-left: 0 !important;
 /* padding-top: "2px"; */ 
 overflow:visible;
}
.conainer-div-peact {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 40px; 
}



.name-div {
  padding-right: 8px;
  margin-bottom:auto;
  margin-top: auto;
}
.content-message-div {
  padding-right: 18px;
  margin-bottom:auto;
  margin-top: auto;

}
#no_margin_sides {
  padding-left: 0 !important;
  padding-right: 0 !important;

}

#arrow-right {
  padding-bottom: 0 !important;
  float:left;
  /* position:absolute;
  right: 700px; */
  /* position: absolute; */
  /* right: 710px; */
  /* transform: translateX(-8px); */
  transform: translate(-30px,-18px);

}

#arrow-left {
  padding-bottom: 0 !important;
  float:right;
  transform: translate(30px,7px);
}
#email-recive {
  padding-bottom: 0 !important;
  margin-top: 14px;
}

#icon-change{
  padding-bottom: 0 !important;
  float:right;
  position:absolute;
  right: 720px;
}
#icon-disagree{
  padding-bottom: 0 !important;
}

.container {
  padding: 5%;
  background-color: green;
}
.height100
  {
  height: 100%;
 }
.header-container {
  text-align: center;
  width: 100%;
  flex-direction: column;
  margin-bottom: 3%;
}
.cell-with-not-padding {
  padding: 0 !important;
}
.cancel-button {
 
}
.header-container-new {
  text-align: center;
  width: 100%;
  flex-direction: column;
}
.header-input {
width: 70%;
height: 100%;
margin-top: auto;
margin-bottom: auto;
position: relative;
}

.header-textarea {
  width: 70%;
  height: 50%;
  width: 70%;
  height: 50%;
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
  top: 25%;
  margin-right: 15px;
  }


.field-head {
  width:100%;
  height: 80px;
  /* margin-top: 12px; */
  padding: 5px;
}

.field-body {
  width: 100%;
  height: 120px;
  margin-top: 30px;
  padding: 5px;
}
.field-recivers {
  width: 100%;
  height: 120px;
  margin-top: 30px;
  padding: 5px;
}



.label-form {
  width: 60px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  top: -50%;
}
.label-select {
  width: 60px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
 
}
.select-recivers{
  width: 30%;
  margin-right: 70px;
}

.container-checkbox {
   border:2px solid #ccc; width:300px; height: 100px; overflow-y: scroll;
   }
   .mail-list {
    height: 260px;
    width: 100%;
  }
  .mail-headers {
    height: 20px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction:row !important;
    text-align: center;
  }
   

  .mail-data {
    height: 100%;
    width: 100%;
  }

  .mail-single {
    height: 40px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction:row !important;
    border: outset;
    border-radius: 5px;
  }


  .mail-sender {
    flex:1;
  }
  .mail-title {
    flex: 3;
    text-align: right;
  }

.header {
  color: teal;
  margin-bottom: 15px;
  font-size: 3rem;
}

.divider {
  width: 100%;
  border-bottom: solid lightgray 1px;
}
.form-bottom {
  margin-top: 9px;
  margin: auto;
  width: 50%;
  /* text-align: center; */
  /* position: relative;
  //right: 35%; */
}
.textarea-exchange{
  width: 50%;
}

#div_full_dialog{
  width: 100%;
  height: 100%;
  position: relative;
}

#div_textarea_sendagain{
  text-align: center;
  position: absolute;
  margin: auto;
  bottom: 0;
  width: 100%;
  
}

.textarea-dialog{
  width: 100%;
  height: 80px;
}

/* homepage */
.infocard {
  display: flex;
  background-color: ghostwhite !important;
  width: 28%;
  border-radius: 10px !important;
  text-align: center;
  justify-content: center;
  border: solid 1px teal;
  min-height: 30vh;
  /* padding-right: 2%;
  padding-left: 2%; */
  flex-direction: column !important;
}

.MuiTouchRipple-root {
  color: teal !important;
}

.MuiCardActionArea-root {
  height: 100% !important;
  padding-right: 2% !important;
  padding-left: 2% !important;
}
.infocard-container1 {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-self: center;
  margin-bottom: 4%;
}
.infocard-container2 {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-self: center;
  /* margin-bottom: 3%; */
}

.icons {
  font-size: 80px !important;
  color: teal !important;
  margin-top: 5%;
}

.infocard h1 {
  color: teal;
}

.cc3 p {
  margin-bottom: 5%;
  font-size: 1rem;
}

/* sidebar */
.MuiDrawer-paper {
  background-color: white !important;
  width: 280px !important;
}

.div-name-project {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  font-weight: bold;
  font-family: 'Hebbo';
  font-size:30px

}

.MuiToolbar-root {
  background: teal;
  height: 20px !important;
}

.header1 {
  display: flex;
  flex-direction: row !important;
  background-color: teal !important;
}

.homemadetoolbar {
  flex: 1;
  height: 55px;
  background-color: teal;
  padding-left: 24px;
  padding-right: 24px;
  align-items: center;
  display: flex;
  justify-content: flex-start;
}
.homemadetoolbar2 {
  flex: 1;
  height: 55px;
  background-color: teal;
  padding-left: 24px;
  padding-right: 24px;
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.backarrow {
  position: relative;
  right: 200px;
}

.mainlogo {
  width: 200px;
  margin: 30px auto 20px auto;
}



.cc2 {
  display: flex;
  justify-content: center;
  width: 100%;
}

.listd {
  color: teal !important;
  /* text-align: center !important; */
  /* justify-content: center !important; */
  padding: 10px !important;
}

a {
  text-decoration: none;
}

.icons2 {
  margin-left: 10px;
}

/* media query all */
@media screen and (max-width: 768px) {
  .infocard-container1 {
    flex-direction: column;
    margin-bottom: 0;
  }
  .infocard-container2 {
    flex-direction: column;
    margin-bottom: 0;
  }

  .infocard {
    width: auto;
    margin-bottom: 10px;
  }
  
  .MuiCardActionArea-root {
    min-height: 30vh !important;
  }
}


/* tfasim */

.download-list {
  padding: 15px !important;
}

.download-list-heading {
  color: white;
  justify-content: center !important;
  background-color: teal;
  padding: 15px !important;
}

.icons3 {
  color: teal;
  margin-left: 20px;
}

.MuiExpansionPanelSummary-content {
  align-items: center;
}

.icons4 {
  font-size: 50px !important;
  color: teal;
  margin-left: 20px;
}

.panels h1 {
  color: teal;
}

.panels p {
  /* margin-right: 70px !important; */
  font-size: 1.3rem;
  margin-right: 30px;
  margin-left: 30px;
}

.bibi {
  background-color: white;
  border-radius: 5px;
  /* border: solid 1px teal; */
  margin: 0;
  padding: 0 !important;
  overflow: hidden;
}

.MuiTabs-indicator {
  background-color: teal !important;
}

.MuiTab-root {
  width: 50% !important;
  max-width: 100% !important;
  font-size: 1.4rem !important;
  font-family: 'Bungee Inline', cursive;
}

.MuiTableRow-root {
  display: flex !important;
}
.MuiTableCell-root {
  padding: 14px 14px 14px 14px !important;
  flex: 1;
}
/* .MuiPickersModal-dialogRoot {
  color: red !important;
  background-color: red !important;
} */

.MuiPickersDay-daySelected {
  background-color: teal !important;
}

.MuiPickersToolbar-toolbar {
  background-color: teal !important;
}

.MuiButton-textPrimary {
  color: teal !important;
}

.MuiInput-underline:after {
  border-bottom-color: teal !important;
}

.MuiInputBase-input {
  cursor: pointer;
  padding: 10px !important;
  text-align: center;
  /* flex: 1 !important; */
}

.haadafotholder {
  display: flex !important;
  width: 100%;
  z-index:2;
}

.sidebutton {
  position: absolute;
    z-index:1;
    transform: translate(-10%, -10%); 
}

.blob {
  flex: 1 !important;
}

.labelo {
  color: grey;
}

.blobi {
  flex: 1;
  text-align: center;
  color: grey;
}
.blobiT {
  flex: 0.5;
  text-align: center;
  color: grey;
}

.MuiMenuItem-root {
  padding: 0 !important;
}

/* login */

.input1 {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  border: teal 1px solid;
  /* width: 90%; */
}

.inputfailed {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid red;
  /* width: 90%; */
}



.backcolor {
  background-color: teal;
  opacity: 0.5;
}






::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: grey;
  opacity: 1; /* Firefox */
}

/* dont know yet */

.MuiButton-contained {
  background-color: teal !important;
  width: 130px;
  height: 50px;
}

.loading-page {
  display: flex;
  width: 100vw;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.MuiCircularProgress-root {
  color: teal !important;
}

/* .MuiIconButton-root{
  color: ghostwhite !important;
} */

/* smhmirot table */

.tableheaders {
  border: 1px solid black;
}

.lefttext .MuiInputBase-input{
  text-align: left !important;
}









.diffselect {
  font-size: 1.4rem !important;
  color: teal !important;
}

@media (max-width: 800px) {
  .MuiTab-root {
    font-size: 1.2rem !important;
  }
  .diffselect {
    font-size: 1.2rem !important;
  }
  
  
}

.shmirotToran {
  /* background-color: teal; */
  border-radius: 4px; 
  flex: 1; 
  color: white;
  padding: 2px; 
  box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75)
}

.shmirotAtooda {
  background-color: #B76EB8;
  border-radius: 4px; 
  flex: 1; 
  color: white;
  padding: 2px; 
  box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75)
}

.deleteShmiraButton {
  width: 30px !important;
  height: 30px !important;
  min-height: 0 !important;
  background-color: #d32f2f !important;
  margin-right:2px !important;
}

.shmirotDataHolder {
  display: flex;
  align-items: center;
  margin: 3px 0 3px 0;
}



.cellDate {
  text-align: right;
  color: grey;
}



